# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# Coverage
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Editor / IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# Operating system
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# SQLite database
*.db
*.db-journal
*.sqlite
*.sqlite3

# Cypress
cypress/videos/
cypress/screenshots/

# Prisma
prisma/dev.db
prisma/dev.db-journal